{% extends 'base_survey.html' %}
{% load static %}
{% block title %}QRコード表示{% endblock title %}

{% block content %}
<article class="p-2 m-auto">
  <div class="text-center mb-2">
    <h2 class="survey-header mb-2">QRコードが発行されました</h2>
    <p class="text-center" style="font-size: 0.8em;">以下のORコードをスマートフォンでスキャンして下さい</p>
  </div>
  <!-- QRコード -->
  <section class="p-4">
    <img src="data:image/png;base64,{{ qr_code|safe }}" alt="QRコード">
    <p class="mt-2">URL: <a href="{{ survey_url }}">{{ survey_url }}</a></p>
  </section>
</article>
{% endblock content %}