{% extends 'base_login.html' %}
{% load static %}
{% block title %}パスワードリセット{% endblock title %}

{% block content %}
<article class="w-50 p-2 m-auto">
  <h2>お客様の声アプリ</h2>
  <p class="mb-4">Voice of the Customer App</p>

  <!-- エラーメッセージの表示 -->
  {% if field.errors %}
  <div class="invalid-feedback">
    {{ field.errors|striptags }}
  </div>
  {% endif %}

  <!-- ログイン -->
  <section class="p-4 mb-2 border border-secondary shadow bg-body-tertiary rounded">
    <h3 class="mb-3">パスワードリセット</h3>
    <p class="mb-4">登録しているメールアドレスを入力してください。リセットリンクを送信します。</p>
    <form method="post">
      {% csrf_token %}
      <!-- フィールドごとのループ -->
      {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      <div class="text-center">
        <button type="submit" class="btn btn-secondary">送信</button>
      </div>
    </form>
  </section>
</article>
{% endblock content %}