{% extends 'base_login.html' %}
{% load static %}
{% block title %}ログイン{% endblock title %}

{% block content %}
<article class="w-50 p-2 m-auto">
  <h2>お客様の声アプリ</h2>
  <p class="mb-4">Voice of the Customer App</p>

  <!-- ログイン -->
  <section class="p-4 mb-2 border border-secondary shadow bg-body-tertiary rounded">
    <h3 class="mb-3">パスワード再設定完了</h3>
    <p class="mb-4">パスワード再設定が完了いたしました。<br>以下のページからログインをお願いいたします</p>
    <div class="text-center">
      <a href="{% url 'employee' %}">ログインページ</a>
    </div>
  </section>
</article>
{% endblock content %}