{% extends 'base_general.html' %}
{% load static %}
{% block title %}従業員ページ{% endblock title %}

{% block content %}
<article class="p-2 m-auto">
  <h2>お客様の声アプリ 従業員ページ【{{ user_name }}さん】</h2>
  <p>Voice of the Customer App Employee Page</p>

  <!-- フラッシュメッセージ
  <section class="p-4 mt-4 text-center border border-danger bg-danger-subtle">
    <p class="fw-bold">従業員情報表示に失敗しました</p>
  </section>
  -->
  {% if messages %}
  <section class="p-4 my-4 text-center border border-success bg-success-subtle">
    {% for message in messages %}
      <p class="fw-bold alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </section>
{% endif %}

  <!-- 表示期間 -->
  <section id="general-period" class="py-4">
    <h3>表示期間</h3>
    <form method="get">
      <select name="year" id="year" class="form-select">
        {% for year in years %}
        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}年度</option>
        {% endfor %}
      </select>
      <select name="month" id="month" class="form-select">
        {% for month in months %}
        <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}月</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-secondary">表示</button>
    </form>
  </section>

  <!-- 表彰回数 -->
  <section id="commendation" class="p-4 mb-4 border border-secondary shadow bg-body-tertiary rounded">
    <h3 class="mb-4">{{ user_name }}さんの表彰回数（{{ selected_year }}年度）</h3>
    <ul>
      <li><span>★</span> {{ award_counts.gold }}回</li>
      <li><span>★</span> {{ award_counts.silver }}回</li>
      <li><span>★</span> {{ award_counts.copper }}回</li>
    </ul>
  </section>

  <!-- アンケート集計 -->
  <section class="totalling p-4 mb-4 border border-secondary shadow bg-body-tertiary rounded">
    <h3 class="mb-4">{{ selected_year }}年{{ selected_month }}月 アンケート集計</h3>
    <fieldset class="mb-4">
      {% for age_group in age_groups %}
      <input type="radio" name="age" id="age_{{ forloop.counter }}" class="form-check-input" value="{{ age_group.id }}">
      <label for="age_{{ forloop.counter }}" class="me-2 form-check-label">{{ age_group.name }}</label>
      {% endfor %}
      <input type="radio" name="age" id="age_all"  class="form-check-input" value="all" checked>
      <label for="age_all">全ての年代</label class="form-check-label">
    </fieldset>
    <output>
      <!-- 
      <ul>
        <li>お伺いした作業者は、お客様のお申し出内容について確認しましたか？-----</li>
        <li>作業する内容・費用について、事前の説明はわかりやすかったですか？-----</li>
        <li>作業終了後の結果説明は、わかりやすかったですか？----------------------</li>
        <li>作業者の身だしなみは、いかがでしたか？---------------------------------</li>
        <li>態度・言葉遣いは、いかがでしたか？-------------------------------------</li>
        <li>自由記述欄AI評価---------------------------------------------------------</li>
      </ul>
      -->
      <canvas id="survey-chart" width="400" height="150"></canvas>
    </output>
  </section>

  <!-- AIアドバイス -->
  <section id="advice" class="p-4 mb-4 border border-secondary shadow bg-body-tertiary rounded">
    <h3 class="mb-4">AIアドバイス</h3>
    <details>
      <summary>表示する</summary>
        <ul>
        {% for advice in advice_list %}
          <li>{{ advice|default:"(アドバイスなし)" }}</li>
        {% empty %}
          <li>現在、アドバイスがありません。</li>
        {% endfor %}
        </ul>
    </details>
  </section>

  <!-- アンケート上位 -->
  <section id="ranking" class="p-4 mb-4 border border-secondary shadow bg-body-tertiary rounded">
    <nav class="mb-3">
      <h3>{{ selected_year }}年{{ selected_month }}月 アンケート TOP3</h3>
      <p>▼ お名前をクリックするとグラフ表示されます</p>
    </nav>
    <output>
      <ul>
        {% for top3_employee in top3_employees_data %}
        <li>
          <span>★</span>
          <span>No.{{ forloop.counter}}</span>
          <span>{{ top3_employee.name }} さん</span>
        </li>
        {% endfor %}
      </ul>
      <hr>
      <div class="mt-2" >
        <span>★</span>
        <span>No.1</span>
        <span>{{ top_employee_name }}</span>
        <canvas id="survey-top1-chart"width="400" height="150"></canvas>
      </div>
    </output>
  </section>
</article>
{% endblock content %}